import type { Metadata } from 'next';

export const metadata: Metadata = {
  title: '{{ pageTitle }}',
  description: '{{ pageDescription }}',
};

export default async function Page() {
  return (
    <div>
      <h1>{{ pageTitle }}</h1>
      <p>{{ pageDescription }}</p>
    </div>
  );
}